body {
  margin: 10px;
  height: 400vh;
  display: grid;
}

::selection {
  /* The ::selection CSS pseudo-element applies styles 
                to the portion of a document that has been highlighted (selected) by the user. */
  background-color: rgb(154, 130, 130);
}

.clearfix {
  border: 10px rgb(49, 36, 116);
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.boxes {
  border: 5px solid rgb(195, 12, 134);
  position: relative;
}

.box {
  width: 10rem;
  height: 10rem;
}

.box-one {
  background-color: rgb(164, 62, 62);
  z-index: 10;
}
.box-two {
  background-color: rgb(67, 164, 109);
  /* position: fixed; */
  top: 0;
}
.box-three {
  background-color: rgb(163, 147, 56);
  position: absolute;
  right: 0;
  bottom: 0;
}

.avatar {
  width: 5rem;
  height: 5rem;
  background-color: yellowgreen;
  border: 2px solid tomato;
  float: right;
  margin-right: 3rem;
}
.p1 {
  margin-top: 5rem;
}

.clear {
  clear: both;
}

.container {
  border: 3px solid coral;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Align items horizontally */
  align-items: center; /* Align items vertically */
  /* flex-wrap: wrap; */
  align-content: center; /* Aligns the flex lines when there is extra space in the cross-axis */
}
.flexbox {
  flex-basis: 10rem; /* Sets the initial size of the flex item before any remaining space is distributed. */
  width: 5rem;
  height: 5rem;
  background-color: yellowgreen;
  margin: 1rem;
}

.flexbox-one {
  align-self: flex-end;
  flex-basis: 5rem;
}

.gridcontainer {
  margin: 20px 0px;
  border: 5px solid rebeccapurple;
  height: 60vh;
  display: grid;
  grid-template-rows: 100px 10rem;
  grid-template-columns: 100px 10rem;
  /* grid-template: repeat(3, 100px) / repeat(2, 100px); used to display a grid with 3 rows and 2 columns */
  justify-content: center;
  align-content: center;
  justify-items: stretch; /* Aligns items along the row (inline) axis */
  align-items: stretch; /* Aligns items along the column (block) axis */
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer"; /* Defines named grid areas for layout purposes */
  height: 90vh;
}

.griditemA,
.griditemC {
  width: 5rem;
  height: 5rem;
  background-color: rgb(82, 141, 155);
  margin: 1rem;
  justify-self: stretch;
}

.griditemB {
  background-color: rgb(115, 139, 83);
  justify-self: stretch;
  grid-column: 1/3; /* Spans across 2 columns */
  grid-row: 2/4; /* Spans across 2 rows */
  grid-area: header; /* Assigns the grid item to a named grid area defined in grid-template-areas */
}

.p1 {
  visibility: hidden; /* Hides the element but it still takes up space in the layout */
}

.mediaqueries {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.mqbox:nth-of-type(1) {
  background: rgb(90, 229, 222);
}

.mqbox:nth-of-type(2) {
  background: rgb(207, 222, 77);
}

@media screen and (max-width: 600px) {
  .mediaqueries {
    flex-direction: row;
    background-color: tomato;
  }
}
